
/* الألوان الأصلية الداكنة مع لوجو اريبا */
:root{
  --bg:#202522;--p:#252A27;--c:#2A302D;--c2:#303833;--bd:#243044;
  --bl:#29B35E;--gr:#29B35E;--rd:#6B7280;--am:#E4E4BC;--pu:#014D3D;
  --cy:#014D3D;--tx:#F4F0E4;--mu:#8A928F;--dm:#6B7280;
}
body{background:var(--bg)!important}

